body {
    margin: 10px;
    padding: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* background-color: blue; */
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    width: 20px;
    height: 20px;
    background-color: purple;
}

.apple {
    width: 20px;
    height: 20px;
    background-color: blue;
}

/* .grid div {
    width: 300px;
    height: 300px;
} */

