body {
    margin: 0px;
    padding: 0px;
    background-color: #80914a;
    text-align: center;
}

h1 {
    color: #252525;
    font-size: 30px;
    font-weight: bold;
}

.grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 4px solid black;
    background-color: rgba(216, 219, 34, 0.959);
    background-blend-mode: screen;
    /* background-color: blue; */
}

.square {
    width: 20px;
    height: 20px;

}

.snake {
    width: 20px;
    height: 20px;
    background-color: purple;
}

.apple {
    width: 20px;
    height: 20px;
    background-color: blue;
}

#start {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #3f33ff;
    font-weight: bold;
}

/* #start:hover,
#start:focus {
    background-color: #252525;
    color: #3f33ff;
} */

main {
    background-image: url(../img/snake-image.jpg);
    background-repeat: 200px 200px;
    background-position: center;
    padding: 200px 200px;
}

/* .grid div {
    width: 300px;
    height: 300px;
} */

